<div class="footer">
    

    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120"><span class="blue bolder">Trang tra cứu từ điển</span> &copy; 2018
            <span class="red bigger-120">(Phiên bản thử nghiệm)</span>
            </span>
        </div>
    </div>
</div>
